* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: white;
}

header {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

ul {
    list-style: none;
}

ol {
    list-style: none;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.intro {
    padding: 20px;
}

.intro h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e8491d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 40px;
    text-align: center;
}

#about p {
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 10px;
}

#projects .project {
    margin: 25px 0;
}

#projects .project h3 {
    font-size: 1.5rem;
}

#projects {
    background-color: lightslategray;
}

#skills {
    background: #111;
    color: #fff;
    border-radius: 0%;
}

#skills ul {
    list-style: none;
    padding: 0;
}

#skills ul li {
    position: relative;
    margin: 5px 0;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5%;
    width: 100%;
}

#skills ul li .skill-name {
    position: relative;
    z-index: 2;
}

#skills ul li .skill-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #00f;
    z-index: 1;
    border-radius: 5px;
    width: 0%;
}

#skills ul li .percentage {
    position: relative;
    float: right;
    z-index: 2;
}


footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#socials {
    background: #222;
    text-align: center;
    color: #fff;
}

.backgroundswitchD {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.dark-mode {
  background-color: darkslategray;
  color: lightgoldenrodyellow;
}

img {
    width: 100%;
    height: 500px;
}
